/* You can add global styles to this file, and also import other style files */
button {
    background: lightskyblue;
    border: none;
    color: white;
    padding: 4px 20px;
    border-radius: 8px;
    cursor: pointer;
    &:disabled {
        background-color: lightgray;
    }
}

button.button-delete {
    background: maroon;
    border: none;
    color: white;
    padding: 4px 20px;
    border-radius: 8px;
}